.cart{
    padding: 48px 0 48px 0;
    &__container {
        display: grid;
        grid-template-columns: 776px 356px;
        gap: 48px;
        margin-top:48px;
    }
}

@media (max-width: 1280px) {
    .cart__container {
        display: flex;
        flex-direction: column;
    }
}