.galery {
    display: flex;
    flex-direction: column;
    margin: 48px 0 48px;
}

.galery__main_image {
    max-height: 520px;
    max-width: 520px;
    border-radius: 4px;
}

.galery__scroll_list {
    display: flex;
    margin-top: 10px;
}

.galery__scroll_item {
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.galery__scroll_image {
    max-width: 70px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        border: 3px solid #C4C4C4;
    }
}