@font-face{
    font-family: 'Jost';
    src: url('/src/assets/fonts/static/Jost-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Jost';
    src: url('/src/assets/fonts/static/Jost-SemiBold.ttf') format('ttf');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Jost';
    src: url('/src/assets/fonts/static/Jost-Medium.ttf') format('ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Jost';
    src: url('/src/assets/fonts/static/Jost-Bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 700;
}
