.catalog__link {
    display: block;
    height: 300px;
    position: relative;
    overflow: hidden;

    &:hover .catalog__image_text {
        opacity: 1;
    }

    &:hover .catalog__image_overlay {
        background-color: rgba(135, 135, 135, 0.25);
    }
}

.catalog__image {
    border-radius: 4px;
    transition: opacity 0.5s ease;

    &:hover {
        opacity: 0.5;
    }
}

.catalog__image_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.6);
    opacity: 0;
    font-size: 26px;
    font-weight: 800;
    transition: opacity 0.5s ease;
    text-align: center;
}

.catalog__image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s ease;
}

.catalog__content {
    margin: 10px 0 6px;
    display: flex;
    justify-content: space-between;
}

.catalog__content_left{
    max-width: 70%;
}

.catalog__name {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:hover{
        text-decoration: underline;
    }
}

.catalog__price {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.catalog__basket_btn{
    min-height: 50px;
}




@media (max-width: 768px) {
    .catalog__content{
        width: 370px;
    }
}

@media (max-width: 550px) {
    .catalog__item{
        width: 320px;
    }
    .catalog__content{
        width: 320px;
    }
}

@media (max-width: 320px) {
    .catalog__content{
        width: 270px;
    }
    .catalog__item{
        width: 270px;
    }
    
}