.red_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F14F4F;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    transition: 0.3s;
    &:hover{
        background: #8C2828;
    }
    &:disabled{
        background: #F8AFAF;
    }
    
}