.header {
    background-color: #484283;
    color: #fff;

}

.header__content {
    display: flex;
    justify-content: space-between;
    padding: 23px 0 23px;
}


.header__navigation {
    display: flex;
    font-size: 14px;
    align-items: center;
    font-weight: 600;
    line-height: 20px;
}

.header__navigation_item {
    margin-right: 40px;
    display: flex;
    align-items: center;
    &:last-child {
        margin-right: 0;
    }

    &:hover{
        color: #C4C4C4;
        text-decoration: underline;
    }
}

.header__logo_img{
min-height: 44px;
min-width: 164px;
}

.header__navigation_busket {
    margin-right: 6px;
}

.header__busket_img{
    min-width: 20px;
    min-height: 20px;
}


@media (max-width: 550px) {
    .header__content{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}



@media (max-width: 320px) {
    .header__navigation{
        justify-content: center;
        flex-direction: column;
        gap: 7px;
    align-items: flex-start;
    }
}